@font-face {
    font-family: 'NikaWeb';
    src:    url('Behdad-Regular.woff') format('woff'),
    url('Behdad-Regular.otf') format('opentype') ,
    url('Behdad-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TestFont';
    src:url('Behdad-Regular.woff') format('woff2'),
    url('Behdad-Regular.woff') format('woff'),
    url('Behdad-Regular.otf') format('opentype') ,
    url('Behdad-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Ganj';
    src: url('GanjNamehSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PfontTest';
    src: url('Pfont-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

