.fs_icon{
  position:relative;
  top:2px;
  font:40px/40px FSIcon;

}

.fs_icon.fs_icon-circle:after{content:'!'}
.fs_icon.fs_icon-diamond:after{content:'*'}
.fs_icon.fs_icon-plus_pod:after{content:'+'}
.fs_icon.fs_icon-hyphen_pod:after{content:'-'}
.fs_icon.fs_icon-curved_arror_right_pod:after{content:'0'}
.fs_icon.fs_icon-upper_right_arrow_bullet:after{content:'1'}
.fs_icon.fs_icon-asterisk_1:after{content:'2'}
.fs_icon.fs_icon-asterisk_2:after{content:'3'}
.fs_icon.fs_icon-asterisk_3:after{content:'4'}
.fs_icon.fs_icon-tags:after{content:'5'}
.fs_icon.fs_icon-dw_combo:after{content:'6'}
.fs_icon.fs_icon-refresh_pod:after{content:'>'}
.fs_icon.fs_icon-flame_pod:after{content:'?'}
.fs_icon.fs_icon-up_arrow:after{content:'A'}
.fs_icon.fs_icon-down_arrow:after{content:'B'}
.fs_icon.fs_icon-upper_right_arrow:after{content:'C'}
.fs_icon.fs_icon-lower_left_arrow:after{content:'D'}
.fs_icon.fs_icon-right_arrow:after{content:'E'}
.fs_icon.fs_icon-left_arrow:after{content:'F'}
.fs_icon.fs_icon-rocket:after{content:'G'}
.fs_icon.fs_icon-heart:after{content:'H'}
.fs_icon.fs_icon-user:after{content:'I'}
.fs_icon.fs_icon-speech_bubble:after{content:'J'}
.fs_icon.fs_icon-gear:after{content:'K'}
.fs_icon.fs_icon-lightbulb:after{content:'L'}
.fs_icon.fs_icon-ereader:after{content:'M'}
.fs_icon.fs_icon-ebook:after{content:'M'}
.fs_icon.fs_icon-plus:after{content:'N'}
.fs_icon.fs_icon-up_triangle:after{content:'O'}
.fs_icon.fs_icon-down_triangle:after{content:'P'}
.fs_icon.fs_icon-left_triangle:after{content:'Q'}
.fs_icon.fs_icon-right_triangle:after{content:'R'}
.fs_icon.fs_icon-boy_smiley:after{content:'S'}
.fs_icon.fs_icon-tag:after{content:'T'}
.fs_icon.fs_icon-smiley:after{content:'U'}
.fs_icon.fs_icon-curved_arror_right:after{content:'V'}
.fs_icon.fs_icon-curved_arror_left:after{content:'X'}
.fs_icon.fs_icon-globe_1:after{content:'W'}
.fs_icon.fs_icon-globe_2:after{content:'Y'}
.fs_icon.fs_icon-webfont:after{content:'Y'}
.fs_icon.fs_icon-computer:after{content:'Z'}
.fs_icon.fs_icon-desktop:after{content:'Z'}
.fs_icon.fs_icon-smiley_pod:after{content:'['}
.fs_icon.fs_icon-doc_pod:after{content:']'}
.fs_icon.fs_icon-paperclip_pod:after{content:'^'}
.fs_icon.fs_icon-magnifying_glass:after{content:'_'}
.fs_icon.fs_icon-info_pod:after{content:'a'}
.fs_icon.fs_icon-question_pod:after{content:'b'}
.fs_icon.fs_icon-x_bullet:after{content:'d'}
.fs_icon.fs_icon-mail:after{content:'e'}
.fs_icon.fs_icon-facebook_square:after{content:'f'}
.fs_icon.fs_icon-facbook:after{content:'g'}
.fs_icon.fs_icon-heart_solid:after{content:'h'}
.fs_icon.fs_icon-shopping_cart_solid:after{content:'i'}
.fs_icon.fs_icon-shopping_cart_arrow:after{content:'j'}
.fs_icon.fs_icon-timer:after{content:'k'}
.fs_icon.fs_icon-demo:after{content:'k'}
.fs_icon.fs_icon-share:after{content:'l'}
.fs_icon.fs_icon-mobile:after{content:'m'}
.fs_icon.fs_icon-iphone:after{content:'m'}
.fs_icon.fs_icon-application:after{content:'m'}
.fs_icon.fs_icon-a-z:after{content:'n'}
.fs_icon.fs_icon-pinterest:after{content:'p'}
.fs_icon.fs_icon-rss:after{content:'r'}
.fs_icon.fs_icon-twitter:after{content:'s'}
.fs_icon.fs_icon-twitter_block:after{content:'t'}
.fs_icon.fs_icon-smiley_alert:after{content:'u'}
.fs_icon.fs_icon-checkmark_pod:after{content:'v'}
.fs_icon.fs_icon-x_pod:after{content:'x'}
.fs_icon.fs_icon-checkmark:after{content:'y'}
.fs_icon.fs_icon-checkmark_2:after{content:'z'}
.fs_icon.fs_icon-folder:after{content:'{'}
.fs_icon.fs_icon-font_folder:after{content:'|'}
.fs_icon.fs_icon-link:after{content:'@'}
.fs_icon.fs_icon-dollar_bullet:after{content:'"'}
.fs_icon.fs_icon-dollar_pod:after{content:'#'}
.fs_icon.fs_icon-font_document:after{content:'&#125;'}
.fs_icon.fs_icon-font_document_spaced:after{content:'&#x126;'}
.fs_icon.fs_icon-document:after{content:'\007d'}
.fs_icon.fs_icon-right_triangle_space:after{content:'&#xE000;'}
.fs_icon.fs_icon-folder_space:after{content:'&#xE001;'}
.fs_icon.fs_icon-pancake:after{content:'7'}
