  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  svg:not(:root) {
    overflow: hidden;
  }

  html {
    font-family: TestFont, sans-serif, Arial, Helvetica;
    direction: rtl;
    margin: 0px;
    box-sizing: border-box;
    font-size: 15px;
    line-height: 1.7;
  }

  body {
    /*background-color: #f3f3f3;*/
    background-color: #efefef;
    color: #424242;
    min-width: 640px;
  }



  p.type-poets{
    display: flex;
    flex-direction: row;
  padding: 0 3rem;
  flex-wrap: wrap;
  }

  p.type-poets.col{
    flex-direction: column;
  }

  p.type-poets span{
    flex: 1 1 50%;
    text-align: center;
    font-family: "LalezarWeb";
    font-size: 23px;
    color:#ad6100;
    line-height: 1.3;
  }


  p.type-poets.col span:nth-child(1){
      padding-left: 50px;
  }
  p.type-poets.col span:nth-child(2){
      padding-right: 50px;
  }
  /******************************
 Header box
*******************************/

  header {
    padding: 1vh 12vw;
    position: fixed;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    z-index: 1;
    display: none;
  }

  header.changeState {
    background: #FFFFFF;
    border-bottom: 1px solid #d0d4d9;
    box-shadow: 0 1px 1px #d0d4d9;
  }

  .navbar {
    flex: 1;
    list-style: none;
    display: flex;
    margin: 0px;
    position: relative;
    height: 60px;
  }

  .navbar li {
    flex: 0 0 auto;
    padding: 0 1vw;
    text-align: left;
    align-self: center;
  }

  .navbar a {
    color: #2d2d2d;
    font-size: 90%;
    font-family: GanjNamehSans;
    text-decoration: none;
  }

  .navbar a:hover {
    color: red;
  }

  #TopLogo {
    height: 60px;
  }

  #logosvg {
    position: relative;
    top: 5px;
    z-index: 2;
  }
  /******************************
Layout setup
*******************************/

  .container {
    display: flex;
    flex-direction: column;
  }

  .section {
    padding: 8vh 6vw 8vh 6vw;
    flex: 1 1 auto;
    position: relative;
    overflow: hidden;
  }

  .section.fullPage {
    min-height: 100vh;
  }

  .section.splitLeft,
  .section.splitRight {
    display: flex;
    flex-direction: row;
  }

  .section.splitLeft {
    flex-direction: row-reverse;
  }

  .section-caption {
    flex: 0 0 300px;
    display: block;
  }

  .section-wrap {
    position: relative;
    
    margin: 0 auto;
    margin-top: 60px;
    flex: 1 1 auto;
  }

  .splitRight .section-caption {
    margin-left: 4vw;
  }

  .splitLeft .section-caption {
    margin-right: 4vw;
  }

  h2.section-title {
    text-align: center;
    font-family: "LalezarWeb";
    font-size: 5rem;
    display: block;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  .caption-title {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
    overflow: hidden;
  }

  .caption-title h2 {
    color: #836262;
    text-align: right;
    flex: 1 1 auto;
    font-family: "LalezarWeb";
    font-size: 4rem;
    margin: 0px;
  }

  .caption-note {
    font-size: 11px;
    padding: 5px 15px;
    text-align: justify;
    margin-left: 80px;
    color: #434343;
  }

  .caption-note p i {
    margin-left: 3px;
  }

  .caption-note .helpIcon {
    font-size: 20px;
    color: red;
    cursor: pointer;
  }

  p+p {
    margin-top: 5px;
  }

  .splitRight .section-wrap {}

  .splitRight .caption-title h2 {
    /*// margin-top: 50px;*/
  }

  .splitLeft .caption-title {
    text-align: left;
  }

  footer {
    background: #343740;
    padding: 100px;
  }
  /******************************
Welcome Section
*******************************/

  #welcome {
    padding-top: 14vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
  }

  #welcome .logo {
    width: 50%;
    margin: 0 auto;
  }

  #welcome .logoText p {
    line-height: 0.8;
    font-size: 1rem;
    font-family: GanjNamehSans;
  }
  /******************************
intro Section
*******************************/

  #intro {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f3f3f3;
    padding-bottom: 0px;
  }

  #intro h1,
  #intro h2 {
    font-weight: 400;
  }

  #intro .row1 {
    height: 8vw;
    color: #777;
    display: flex;
    align-items: flex-end;
    align-self: center;
  }

  #intro .row1 div {
    font-family: lalezar;
    font-size: 2vw;
    display: block;
  }

  #intro h2 {
    font-size: 2vw
  }

  #intro h1.fontName {
    font-size: 25vw;
    display: block;
    color: #C82257;
    margin: 0;
    line-height: 1;
    text-overflow: clip;
    -moz-user-select: none;
    text-shadow: #ccc -1px 1px 0, #c9c9c9 -2px 2px 0, #bbb -3px 3px 0, #b9b9b9 -4px 4px 0, #aaa -5px 5px 0, rgba(0, 0, 0, .1) -6px 6px 1px, rgba(0, 0, 0, .1) -7px 0 5px, rgba(0, 0, 0, .3) -1px 1px 3px, rgba(0, 0, 0, .15) -3px 3px 5px, rgba(0, 0, 0, .2) -5px 5px 10px, rgba(0, 0, 0, .2) -10px 10px 10px, rgba(0, 0, 0, .1) -20px 20px 20px;
  }

  #intro .row2 {
    flex: 1 1 auto;
    overflow: hidden;
    padding-bottom: 20px;
  }

  #intro .row3 {
    flex: 0;
  }

  .description {
    padding: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    margin: 0px auto;
  }

  .description span {
    display: block;
    padding: 10px 50px;
    font-family: lalezar;
    font-size: 1.5vw;
    color: #777;
  }

  .description:after {
    content: "";
    height: 1px;
    background: #999;
    display: block;
    position: relative;
  }

  .github-btt {
    display: block;
  }

  .downloadBTT {
    display: flex;
    max-width: 180px;
    margin: 0 auto;
    padding: 5px 15px !important;
    text-decoration: none;
    margin-top: 10px;
    -moz-user-select: none;
    -webkit-user-select:none;
    user-select: none;
  }

  .downloadBTT i {
    font-size: 30px;
  }

  .downloadBTT .icon {
    border-left: 1px solid #ccc;
    padding-left: 10px;
    display: flex;
    align-items: center;
  }

  .downloadBTT .textbox {
    border-right: 1px solid #666;
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .downloadBTT .textbox span {
    flex: 1;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    text-shadow: rgba(0, 0, 0, .3) 0 1px 1px;
  }
  /******************************
workers Section
*******************************/

  #workers {
    background-color: #f3f3f3;
  }

  #workers .section-wrap {
    margin-top: 30px;
  }

  .desinner-box{
    box-shadow: 0 0 5px 0px rgb(147, 147, 147);
  }
  .desinner-captionbar {
    overflow: hidden;
    padding: 0px;
    background: #5C697A;
    display: flex;
    
    

  }

  .desinner-captionbar .information {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
  }

  .desinner-captionbar .information .networks {
    padding: 5px;
    flex: 1;
  }

  .desinner-captionbar .information .fullName {
    font-family: "LalezarWeb";
    font-size: 35px;
    color: #ffbf60;
  }

  .desinner-captionbar .information .networks a {
    font-size: 25px;
    color: #c3c3c3;
    margin: 0px 5px;
  }

  .desinner-captionbar .information .networks a:hover {
    color: #ffbf60;
  }

  .desinner-captionbar .avatar {
    width: 150px;
    height: 150px;
    display: inline-block;
    border: 10px solid #fff;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    margin: 15px;
  }

  .desinner-captionbar .avatar img {
    width: 100%;
    height: 100%;
    border: 1px solid #c3c3c3;
    /*border-radius: 50% 50%;*/
  }

  .desinner-note  {
    background-color: #fff;
    
    padding: 10px 20px;
    margin: 0;
  }

  .tab-box {
    display: flex;
    position: relative;
    flex-direction: column;
  }

  .tab-menu {
    display: flex;
    position: relative;
    flex-direction: row;
    list-style: none;
    margin: 0px;
    padding: 0px;
    padding-top: 10px;
    overflow: hidden
  }

  .tab-menu li {
    margin: 0px 10px;
  }

  .tab-menu li.active {}

  .tab-menu li a {
    background-color: #c5c5c5;
    display: block;
    padding: 3px 20px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-size: 22px;
    
    font-family: "LalezarWeb";
    cursor: pointer;
    color: rgba(68, 68, 68, 0.6);
    border: 1px solid #fff;
    border-bottom:0px;
    text-decoration: none;
  }

  .tab-menu li:hover:not(.active) a {
    background-color: #ffbf60;
    box-shadow: 0 0 3px 0px rgb(255, 255, 255);
    color: #434343;
  }

  .tab-menu li.active a {
    background-color: #fff;
         color:#836262;
  }

  .tab-wrapper .tab-item {
    display: none;
  }

  .tab-wrapper .tab-item.active {
    display: block;
  }
  /******************************
About Section
*******************************/

  #about {
    background: #fff;
  }

  #about .listItems {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0px;
  }

  .listItems li {
    margin: 5px;
    align-items: stretch;
    border-radius: 3px;
    /*box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);*/
    flex: 1 1 52px;
    overflow: hidden;
    border-right: 15px solid #5c697a;
  }

  .listItems li p {
    flex: 1;
    margin: 0px;
    padding: 2px 10px 2px 2px;
    border-radius: 3px;
    font-size: 14px;
    color: #5c697a;
  }
  /******************************
Store Section
*******************************/

  #sponsorship {
    background: #FFA726;
  }
  /******************************
scrool
*******************************/

  .arabic {
    background-color: #fff;
  }
  /******************************
scrool
*******************************/

  #description-font {
    background-color: #42454E;
    color: #fff;
  }

  #description-font .title {
    line-height: 1;
  }

  #description-font p {
    font-size: 1.1rem;
    -webkit-text-stroke-width: 0.003em;
    -webkit-text-stroke-color: #000;
    font-weight: 400;
    color: #eaeaea;
  }

  #description-font #Beliefs {
    background-color: #42454e;
    display: block;
    direction: ltr;
    position: relative;
  }

  #Beliefs .owl-item div {
    padding: 4vw 0;
    font-size: 15vw;
    text-align: center;
    color: #fff;
    line-height: 1;
  }

  #Beliefs .owl-controls {
    position: absolute;
    bottom: 0;
    text-align: center;
    left: 0;
    right: 0;
  }

  #Beliefs .owl-page span {
    width: 8px !important;
    height: 8px !important;
    background: #bebf8a !important;
  }
  /******************************
scrool
*******************************/

  @media screen and (-webkit-min-device-pixel-ratio:0) {
    /* Safari and Chrome */
    p,
    span,
    div {
      -webkit-text-stroke-width: 0.005em;
    }
  }
  /******************************
propertis Section
*******************************/

  #propertis {
    background-color: #32383c;
  }

  #propertis .owl-item div {
    padding: 4vw 0;
    font-size: 14vw;
    text-align: center;
    color: #fff;
    line-height:1;
  }

  #propertis .owl-dots {
    text-align: center;
  }

  #propertis .owl-dot {
    display: inline-block;
  }

  #propertis .owl-dot span {
    width: 7px;
    height: 7px;
    margin: 5px 7px;
    background: #b0c9bf;
    display: block;
    backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
  }

  #propertis .owl-dot.active span {
    background: #c50e0e;
  }

  #propertis .owl-dot:hover span {
    background: #830000;
  }

  #slider .fontName {}
  /********************
material box
************************/
  /******************************
scrool
*******************************/

  @keyframes scroll {
    0% {
      transform: translateY(10);
    }
    50% {
      transform: translateY(20px);
    }
    100% {
      transform: translateY(5);
    }
  }

  .center-it {
    position: relative;
    text-align: center;
    display: block;
    margin-top: 30px;
  }

  .mouse {
    display: block;
    height: 44px;
    width: 28px;
    border-radius: 12px;
    border: 2px solid #BEBCBC;
    text-align: center;
    margin: 0 auto;
  }

  .mouse:after {
    display: block;
    margin: 0 auto;
    height: 8px;
    width: 8px;
    background-color: #BEBCBC;
    border-radius: 50%;
    content: "";
    -webkit-animation: scroll 1.3s ease-out infinite forwards;
    -moz-animation: scroll 1.3s ease-out infinite forwards;
    animation: scroll 1.3s ease-out infinite forwards;
  }

  @media all and (mxn-width: 300px) {
    html {
      font-size: 11px;
      /* This means 18px */
      line-height: 1.6;
    }
    #intro h1.fontName {
      font-size: 35vw;
    }
    #intro .row1 div {
      font-size: 4vw;
    }
    #propertis .owl-item div {
      font-size: 16vw;
    }
  }

  @media all and (max-width: 600px) {
    html {
      font-size: 13px;
      /* This means 20px */
      line-height: 1.8;
    }
    #intro h1.fontName {
      font-size: 30vw;
    }
    #intro .row1 div {
      font-size: 3vw;
    }
    #propertis .owl-item div {
      font-size: 16vw;
    }
  }

  @media all and (max-width: 800px) {
    html {
      font-size: 14px;
      /* This means 20px */
      line-height: 1.8;
    }
  }
  /*****************************
  buttons
  *************************/

  .turquoise {
    background: #1abc9c;
    border-bottom: #16a085 3px solid;
    border-left: #16a085 1px solid;
    border-right: #16a085 1px solid;
    border-radius: 6px;
    text-align: center;
    color: white;
    padding: 10px;
    font-size: 12px;
    font-weight: 800;
  }

  .turquoise:hover {
    opacity: 0.8;
  }

  .turquoise:active {
    background: #18B495;
    border-bottom: #16a085 1px solid;
    border-left: #16a085 1px solid;
    border-right: #16a085 1px solid;
    border-radius: 6px;
    text-align: center;
    color: white;
    padding: 10px;
    margin-top: 3px;
  }

  .emerald {
    margin-right: 10px;
    width: 100px;
    background: #2ecc71;
    border-bottom: #27ae60 3px solid;
    border-left: #27ae60 1px solid;
    border-right: #27ae60 1px solid;
    border-radius: 6px;
    text-align: center;
    color: white;
    padding: 10px;
    float: left;
    font-size: 12px;
    font-weight: 800;
  }

  .emerald:hover {
    opacity: 0.8;
  }

  .emerald:active {
    margin-right: 10px;
    width: 100px;
    background: #2BBB68;
    border-bottom: #27ae60 1px solid;
    border-left: #27ae60 1px solid;
    border-right: #27ae60 1px solid;
    border-radius: 6px;
    text-align: center;
    color: white;
    padding: 10px;
    margin-top: 3px;
    float: left;
  }

  .peterriver {
    background: #3498db;
    border-bottom: #2980b9 3px solid;
    border-left: #2980b9 1px solid;
    border-right: #2980b9 1px solid;
    border-radius: 6px;
    text-align: center;
    color: white;
    padding: 10px;
    font-size: 12px;
    font-weight: 800;
  }

  .peterriver:hover {
    opacity: 0.8;
  }

  .peterriver:active {
    background: #2385C7;
    border-bottom: #2980b9 1px solid;
    border-left: #2980b9 1px solid;
    border-right: #2980b9 1px solid;
    border-radius: 6px;
    text-align: center;
    color: white;
    padding: 10px;
    margin-top: 3px;
  }

  .wetasphalt {
    width: 100px;
    background: #34495e;
    border-bottom: #2c3e50 3px solid;
    border-left: #2c3e50 1px solid;
    border-right: #2c3e50 1px solid;
    border-radius: 6px;
    text-align: center;
    color: white;
    padding: 10px;
    font-size: 12px;
    font-weight: 800;
  }

  .wetasphalt:hover {
    opacity: 0.8;
  }

  .wetasphalt:active {
    background: #2D3F51;
    border-bottom: #2c3e50 1px solid;
    border-left: #2c3e50 1px solid;
    border-right: #2c3e50 1px solid;
    border-radius: 6px;
    text-align: center;
    color: white;
    padding: 10px;
    margin-top: 3px;
  }

  .sunflower {
    margin-right: 10px;
    width: 100px;
    background: #f1c40f;
    border-bottom: #f39c12 3px solid;
    border-left: #f39c12 1px solid;
    border-right: #f39c12 1px solid;
    border-radius: 6px;
    text-align: center;
    color: white;
    padding: 10px;
    float: left;
    font-size: 12px;
    font-weight: 800;
  }

  .sunflower:hover {
    opacity: 0.8;
  }

  .sunflower:active {
    width: 100px;
    background: #DAB10E;
    border-bottom: #f39c12 1px solid;
    border-left: #f39c12 1px solid;
    border-right: #f39c12 1px solid;
    border-radius: 6px;
    text-align: center;
    color: white;
    padding: 10px;
    margin-top: 3px;
    float: left;
  }

  .carrot {
    margin-right: 10px;
    width: 100px;
    background: #e67e22;
    border-bottom: #d35400 3px solid;
    border-left: #d35400 1px solid;
    border-right: #d35400 1px solid;
    border-radius: 6px;
    text-align: center;
    color: white;
    padding: 10px;
    float: left;
    font-size: 12px;
    font-weight: 800;
  }

  .carrot:hover {
    opacity: 0.8;
  }

  .carrot:active {
    width: 100px;
    background: #CE6F17;
    border-bottom: #d35400 1px solid;
    border-left: #d35400 1px solid;
    border-right: #d35400 1px solid;
    border-radius: 6px;
    text-align: center;
    color: white;
    padding: 10px;
    margin-top: 3px;
    float: left;
  }

  .alizarin {
    margin-right: 10px;
    width: 100px;
    background: #e74c3c;
    border-bottom: #c0392b 3px solid;
    border-left: #c0392b 1px solid;
    border-right: #c0392b 1px solid;
    border-radius: 6px;
    text-align: center;
    color: white;
    padding: 10px;
    float: left;
    font-size: 12px;
    font-weight: 800;
  }

  .alizarin:hover {
    opacity: 0.8;
  }

  .alizarin:active {
    width: 100px;
    background: #E64533;
    border-bottom: #c0392b 1px solid;
    border-left: #c0392b 1px solid;
    border-right: #c0392b 1px solid;
    border-radius: 6px;
    text-align: center;
    color: white;
    padding: 10px;
    margin-top: 3px;
    float: left;
  }

  .concrete {
    margin-right: 10px;
    width: 100px;
    background: #95a5a6;
    border-bottom: #7f8c8d 3px solid;
    border-left: #7f8c8d 1px solid;
    border-right: #7f8c8d 1px solid;
    border-radius: 6px;
    text-align: center;
    color: white;
    padding: 10px;
    float: left;
    font-size: 12px;
    font-weight: 800;
  }

  .concrete:hover {
    opacity: 0.8;
  }

  .concrete:active {
    width: 100px;
    background: #8A9C9D;
    border-bottom: #7f8c8d 1px solid;
    border-left: #7f8c8d 1px solid;
    border-right: #7f8c8d 1px solid;
    border-radius: 6px;
    text-align: center;
    color: white;
    padding: 10px;
    margin-top: 3px;
    float: left;
  }

  button {
    -webkit-appearance: none;
    -moz-appearance: none;
  }